# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

Using Yfinance unlike most set up tutorials that use IEX Sandbox, which has been since deprecated

In [66]:
import numpy as np
import pandas as pd
import requests
import yfinance as yf
from scipy import stats
from datetime import timedelta, datetime
import math

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [20]:
df = pd.read_csv('constituents.csv')
Tickers = df['Symbol']
Tickers

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     XYL
499     YUM
500    ZBRA
501     ZBH
502     ZTS
Name: Symbol, Length: 503, dtype: object

## Defining one year return for list of tickers in this case S&P 500 stocks

We need to get one-year price returns for each stock in the S&P 500, trying to finalize the same.

In [21]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

def calculate_one_year_returns(symbols):
    """
    Calculate one-year price returns for a list of stock symbols using Yahoo Finance.
    
    Parameters:
    symbols (list): List of stock symbols to fetch data for.
    
    Returns:
    pd.DataFrame: DataFrame containing the one-year price returns for the given symbols.
    """
    end_date = datetime.now()
    start_date = end_date - timedelta(days=365)

    returns_data = {}

    for symbol in symbols:
        try:
            ticker = yf.Ticker(symbol)
            data = ticker.history(start=start_date, end=end_date)
        except:
            continue
        if not data.empty:
            start_price = data['Close'].iloc[0]
            end_price = data['Close'].iloc[-1]
            one_year_return = (end_price - start_price) / start_price
            returns_data[symbol] = one_year_return
        else:
            returns_data[symbol] = None

    returns_df = pd.DataFrame(list(returns_data.items()), columns=['Symbol', 'One_Year_Return'])
    returns_df['One_Year_Return'] = returns_df['One_Year_Return'].apply(lambda x: x * 100 if x is not None else x)  # Convert to percentage

    return returns_df
# Example usage

In [22]:
returns_df = calculate_one_year_returns(Tickers)
returns_df

$BRK.B: possibly delisted; No timezone found
$BF.B: possibly delisted; No price data found  (1d 2023-07-26 16:49:35.939782 -> 2024-07-25 16:49:35.939782)

$BF.B: possibly delisted; No price data found  (1d 2023-07-26 16:49:35.939782 -> 2024-07-25 16:49:35.939782)

    Symbol  One_Year_Return
0      MMM        15.852416
1      AOS        11.302460
2      ABT        -5.186672
3     ABBV        33.339256
4      ACN         5.984826
..     ...              ...
498    XYL        21.926421
499    YUM        -5.603952
500   ZBRA         5.974784
501    ZBH       -21.338492
502    ZTS        -4.919399

[503 rows x 2 columns]

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [6]:
# Function to split the list into chunks of a specified size
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Example my_columns for output structure
my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

MMM,AOS,ABT,ABBV,ACN,ADBE,AMD,AES,AFL,A,APD,ABNB,AKAM,ALB,ARE,ALGN,ALLE,LNT,ALL,GOOGL,GOOG,MO,AMZN,AMCR,AEE,AAL,AEP,AXP,AIG,AMT,AWK,AMP,AME,AMGN,APH,ADI,ANSS,AON,APA,AAPL,AMAT,APTV,ACGL,ADM,ANET,AJG,AIZ,T,ATO,ADSK,ADP,AZO,AVB,AVY,AXON,BKR,BALL,BAC,BK,BBWI,BAX,BDX,BRK.B,BBY,BIO,TECH,BIIB,BLK,BX,BA,BKNG,BWA,BSX,BMY,AVGO,BR,BRO,BF.B,BLDR,BG,BXP,CDNS,CZR,CPT,CPB,COF,CAH,KMX,CCL,CARR,CTLT,CAT,CBOE,CBRE,CDW,CE,COR,CNC,CNP,CF
CHRW,CRL,SCHW,CHTR,CVX,CMG,CB,CHD,CI,CINF,CTAS,CSCO,C,CFG,CLX,CME,CMS,KO,CTSH,CL,CMCSA,CAG,COP,ED,STZ,CEG,COO,CPRT,GLW,CPAY,CTVA,CSGP,COST,CTRA,CRWD,CCI,CSX,CMI,CVS,DHR,DRI,DVA,DAY,DECK,DE,DAL,DVN,DXCM,FANG,DLR,DFS,DG,DLTR,D,DPZ,DOV,DOW,DHI,DTE,DUK,DD,EMN,ETN,EBAY,ECL,EIX,EW,EA,ELV,EMR,ENPH,ETR,EOG,EPAM,EQT,EFX,EQIX,EQR,ESS,EL,ETSY,EG,EVRG,ES,EXC,EXPE,EXPD,EXR,XOM,FFIV,FDS,FICO,FAST,FRT,FDX,FIS,FITB,FSLR,FE,FI
FMC,F,FTNT,FTV,FOXA,FOX,BEN,FCX,GRMN,IT,GE,GEHC,GEV,GEN,GNRC,GD,GIS,GM,GPC,GILD,GPN,GL,GDDY,GS,HAL,HIG,HAS,HCA,DOC,HSIC,HSY,HES,HPE,HLT,HOLX,HD,HON,HRL,HST,HWM,HPQ,HUBB,HUM,HBAN,HII,IBM,IEX,IDXX,ITW,INCY,IR,PODD,INTC,ICE,IFF,IP,IPG,INTU,ISRG,IVZ,INVH,IQV,IRM,JBHT,JBL,JKHY,J,JNJ,JCI,JPM,JNPR,K,KVUE,KDP,KEY,KEYS,KMB,KIM,KMI,KKR,KLAC,KHC,KR,LHX,LH,LRCX,LW,LVS,LDOS,LEN,LLY,LIN,LYV,LKQ,LMT,L,LOW,LULU,LYB,MTB
MRO,MPC,MKTX,MAR,MMC,MLM,MAS,MA,MTCH,MKC,MCD,MCK,MDT,MRK,META,MET,MTD,MGM,MCHP,MU,MSFT,MAA,MRNA,MHK,MOH,TAP,MDLZ,MPWR,MNST,MCO,MS,MOS,MSI,MSCI,NDAQ,NTAP,NFLX,NEM,NWSA,NWS,NEE,NKE,NI,NDSN,NSC,NTRS,NOC,NCLH,NRG,NUE,NVDA,NVR,NXPI,ORLY,OXY,ODFL,OMC,ON,OKE,ORCL,OTIS,PCAR,PKG,PANW,PARA,PH,PAYX,PAYC,PYPL,PNR,PEP,PFE,PCG,PM,PSX,PNW,PNC,POOL,PPG,PPL,PFG,PG,PGR,PLD,PRU,PEG,PTC,PSA,PHM,QRVO,PWR,QCOM,DGX,RL,RJF,RTX,O,REG,REGN,RF
RSG,RMD,RVTY,ROK,ROL,ROP,ROST,RCL,SPGI,CRM,SBAC,SLB,STX,SRE,NOW,SHW,SPG,SWKS,SJM,SW,SNA,SOLV,SO,LUV,SWK,SBUX,STT,STLD,STE,SYK,SMCI,SYF,SNPS,SYY,TMUS,TROW,TTWO,TPR,TRGP,TGT,TEL,TDY,TFX,TER,TSLA,TXN,TXT,TMO,TJX,TSCO,TT,TDG,TRV,TRMB,TFC,TYL,TSN,USB,UBER,UDR,ULTA,UNP,UAL,UPS,URI,UNH,UHS,VLO,VTR,VLTO,VRSN,VRSK,VZ,VRTX,VTRS,VICI,V,VST,VMC,WRB,GWW,WAB,WBA,WMT,DIS,WBD,WM,WAT,WEC,WFC,WELL,WST,WDC,WY,WMB,WTW,WYNN,XEL,XYL,YUM
ZBRA,ZBH,ZTS

In [27]:
import yfinance as yf
from datetime import datetime, timedelta
import pandas as pd

def get_one_year_price_return(tickers: list) -> dict:
    # Define the date range
    end_date = datetime.now()
    start_date = end_date - timedelta(days=365)
    
    # Fetch the historical data for multiple tickers
    data = yf.download(tickers, start=start_date.strftime('%Y-%m-%d'), end=end_date.strftime('%Y-%m-%d'))
    
    # Initialize a dictionary to store returns
    returns = {}
    
    # If fetching multiple tickers, data will have a multi-level column index
    if isinstance(data.columns, pd.MultiIndex):
        for ticker in tickers:
            try:
                closing_prices = data['Close'][ticker]
                if len(closing_prices) > 0:
                    start_price = closing_prices.iloc[0]
                    end_price = closing_prices.iloc[-1]
                    one_year_return = (end_price - start_price) / start_price * 100
                    returns[ticker] = one_year_return
                else:
                    returns[ticker] = None  # Handle case where there might be no data
            except KeyError:
                returns[ticker] = None  # Handle case where ticker data is not available
    else:
        # Handle the case where data is for a single ticker
        closing_prices = data['Close']
        if len(closing_prices) > 0:
            start_price = closing_prices.iloc[0]
            end_price = closing_prices.iloc[-1]
            one_year_return = (end_price - start_price) / start_price * 100
            for ticker in tickers:
                returns[ticker] = one_year_return
        else:
            for ticker in tickers:
                returns[ticker] = None  # Handle case where there might be no data
    
    return returns

# Example usage
tickers = ["AAPL", "MSFT", "GOOGL", "TSLA", "AMZN", "META", "NFLX", "NVDA", "BABA", "V", "JPM", "DIS"]  # Add more tickers as needed
Tickers = Tickers.tolist()
returns = get_one_year_price_return(Tickers)
my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']
print

[**********************96%%********************  ]  482 of 503 completed

$BF.B: possibly delisted; No price data found  (1d 2023-07-26 -> 2024-07-25)

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BRK.B']: YFTzMissingError('$%ticker%: possibly delisted; No timezone found')
['BF.B']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 2023-07-26 -> 2024-07-25)')

The 1-year price return for MMM is 9.63%
The 1-year price return for AOS is 7.58%
The 1-year price return for ABT is -5.98%
The 1-year price return for ABBV is 24.18%
The 1-year price return for ACN is 3.85%
The 1-year price return for ADBE is 3.20%
The 1-year price return for AMD is 31.37%
The 1-year price return for AES is -20.96%
The 1-year price return for AFL is 29.37%
The 1-year price return for A is 4.43%
The 1-year price return for APD is -14.13%
The 1-year price return for ABNB is -3.96%
The 1-year price return for AKAM is 1.09%
The 1-year price return for ALB is -56.73%
The 1-year price return for ARE is -9.25%
The 1-year price return for ALGN is -27.97%
The 1-year price return for ALLE is 9.00%
The 1-year price return for LNT is 0.00%
The 1-year price return for ALL is 52.57%
The 1-year price return for GOOGL is 33.54%
The 1-year price return for GOOG is 34.48%
The 1-year price return for MO is 8.47%
The 1-year price return for AMZN is 41.11%
The 1-year price return for AMCR is -0.69%
The 1-year price return for AEE is -12.55%
The 1-year price return for AAL is -39.32%
The 1-year price return for AEP is 8.46%
The 1-year price return for AXP is 43.66%
The 1-year price return for AIG is 23.70%
The 1-year price return for AMT is 10.22%
The 1-year price return for AWK is -3.64%
The 1-year price return for AMP is 19.68%
The 1-year price return for AME is 5.16%
The 1-year price return for AMGN is 42.69%
The 1-year price return for APH is 39.93%
The 1-year price return for ADI is 17.28%
The 1-year price return for ANSS is -8.25%
The 1-year price return for AON is -12.62%
The 1-year price return for APA is -24.28%
The 1-year price return for AAPL is 12.36%
The 1-year price return for AMAT is 48.56%
The 1-year price return for APTV is -39.23%
The 1-year price return for ACGL is 17.45%
The 1-year price return for ADM is -27.91%
The 1-year price return for ANET is 98.16%
The 1-year price return for AJG is 24.83%
The 1-year price return for AIZ is 28.14%
The 1-year price return for T is 28.68%
The 1-year price return for ATO is 1.20%
The 1-year price return for ADSK is 12.55%
The 1-year price return for ADP is -2.51%
The 1-year price return for AZO is 18.01%
The 1-year price return for AVB is 7.46%
The 1-year price return for AVY is 18.92%
The 1-year price return for AXON is 73.91%
The 1-year price return for BKR is -1.77%
The 1-year price return for BALL is 4.37%
The 1-year price return for BAC is 30.18%
The 1-year price return for BK is 40.07%
The 1-year price return for BBWI is -4.50%
The 1-year price return for BAX is -27.50%
The 1-year price return for BDX is -16.07%
The 1-year price return for BRK.B is nan%
The 1-year price return for BBY is 4.17%
The 1-year price return for BIO is -26.67%
The 1-year price return for TECH is -8.67%
The 1-year price return for BIIB is -14.79%
The 1-year price return for BLK is 11.37%
The 1-year price return for BX is 31.44%
The 1-year price return for BA is -22.65%
The 1-year price return for BKNG is 28.65%
The 1-year price return for BWA is -31.10%
The 1-year price return for BSX is 48.40%
The 1-year price return for BMY is -29.57%
The 1-year price return for AVGO is 69.46%
The 1-year price return for BR is 18.12%
The 1-year price return for BRO is 36.16%
The 1-year price return for BF.B is nan%
The 1-year price return for BLDR is 8.71%
The 1-year price return for BG is 3.07%
The 1-year price return for BXP is 2.21%
The 1-year price return for CDNS is 13.84%
The 1-year price return for CZR is -42.39%
The 1-year price return for CPT is 1.10%
The 1-year price return for CPB is 0.61%
The 1-year price return for COF is 28.38%
The 1-year price return for CAH is 4.80%
The 1-year price return for KMX is -3.75%
The 1-year price return for CCL is 3.06%
The 1-year price return for CARR is 21.24%
The 1-year price return for CTLT is 19.43%
The 1-year price return for CAT is 30.09%
The 1-year price return for CBOE is 28.84%
The 1-year price return for CBRE is 11.25%
The 1-year price return for CDW is 20.87%
The 1-year price return for CE is 8.82%
The 1-year price return for COR is 20.39%
The 1-year price return for CNC is -5.50%
The 1-year price return for CNP is -6.99%
The 1-year price return for CF is -12.46%
The 1-year price return for CHRW is -8.21%
The 1-year price return for CRL is 4.40%
The 1-year price return for SCHW is -3.81%
The 1-year price return for CHTR is -20.76%
The 1-year price return for CVX is -3.89%
The 1-year price return for CMG is 24.00%
The 1-year price return for CB is 26.30%
The 1-year price return for CHD is 2.49%
The 1-year price return for CI is 17.72%
The 1-year price return for CINF is 15.84%
The 1-year price return for CTAS is 45.99%
The 1-year price return for CSCO is -11.97%
The 1-year price return for C is 34.05%
The 1-year price return for CFG is 30.15%
The 1-year price return for CLX is -13.59%
The 1-year price return for CME is -0.75%
The 1-year price return for CMS is -1.50%
The 1-year price return for KO is 4.38%
The 1-year price return for CTSH is 7.28%
The 1-year price return for CL is 23.91%
The 1-year price return for CMCSA is -11.23%
The 1-year price return for CAG is -9.98%
The 1-year price return for COP is -4.90%
The 1-year price return for ED is -1.66%
The 1-year price return for STZ is -9.30%
The 1-year price return for CEG is 79.86%
The 1-year price return for COO is -5.52%
The 1-year price return for CPRT is 14.22%
The 1-year price return for GLW is 27.76%
The 1-year price return for CPAY is 13.95%
The 1-year price return for CTVA is -3.53%
The 1-year price return for CSGP is -9.52%
The 1-year price return for COST is 46.74%
The 1-year price return for CTRA is -5.01%
The 1-year price return for CRWD is 66.94%
The 1-year price return for CCI is -6.22%
The 1-year price return for CSX is 0.76%
The 1-year price return for CMI is 9.89%
The 1-year price return for CVS is -22.05%
The 1-year price return for DHR is 13.18%
The 1-year price return for DRI is -17.51%
The 1-year price return for DVA is 42.10%
The 1-year price return for DAY is -25.92%
The 1-year price return for DECK is 51.62%
The 1-year price return for DE is -14.68%
The 1-year price return for DAL is -7.52%
The 1-year price return for DVN is -14.24%
The 1-year price return for DXCM is -14.35%
The 1-year price return for FANG is 37.13%
The 1-year price return for DLR is 27.83%
The 1-year price return for DFS is 31.71%
The 1-year price return for DG is -29.01%
The 1-year price return for DLTR is -31.66%
The 1-year price return for D is -4.26%
The 1-year price return for DPZ is 5.82%
The 1-year price return for DOV is 20.12%
The 1-year price return for DOW is -0.71%
The 1-year price return for DHI is 32.98%
The 1-year price return for DTE is 1.76%
The 1-year price return for DUK is 13.65%
The 1-year price return for DD is 3.86%
The 1-year price return for EMN is 9.50%
The 1-year price return for ETN is 47.56%
The 1-year price return for EBAY is 9.96%
The 1-year price return for ECL is 29.88%
The 1-year price return for EIX is 5.46%
The 1-year price return for EW is -5.11%
The 1-year price return for EA is 1.69%
The 1-year price return for ELV is 9.06%
The 1-year price return for EMR is 23.48%
The 1-year price return for ENPH is -32.56%
The 1-year price return for ETR is 7.16%
The 1-year price return for EOG is -3.26%
The 1-year price return for EPAM is -11.83%
The 1-year price return for EQT is -15.46%
The 1-year price return for EFX is 28.20%
The 1-year price return for EQIX is -2.32%
The 1-year price return for EQR is 3.92%
The 1-year price return for ESS is 19.42%
The 1-year price return for EL is -43.95%
The 1-year price return for ETSY is -37.48%
The 1-year price return for EG is 4.60%
The 1-year price return for EVRG is -8.32%
The 1-year price return for ES is -14.38%
The 1-year price return for EXC is -15.58%
The 1-year price return for EXPE is 7.47%
The 1-year price return for EXPD is -1.74%
The 1-year price return for EXR is 11.97%
The 1-year price return for XOM is 9.44%
The 1-year price return for FFIV is 10.04%
The 1-year price return for FDS is -8.45%
The 1-year price return for FICO is 86.79%
The 1-year price return for FAST is 15.00%
The 1-year price return for FRT is 4.20%
The 1-year price return for FDX is 11.24%
The 1-year price return for FIS is 22.51%
The 1-year price return for FITB is 43.64%
The 1-year price return for FSLR is 12.12%
The 1-year price return for FE is 1.00%
The 1-year price return for FI is 26.60%
The 1-year price return for FMC is -40.24%
The 1-year price return for F is 0.00%
The 1-year price return for FTNT is -26.69%
The 1-year price return for FTV is -8.26%
The 1-year price return for FOXA is 11.89%
The 1-year price return for FOX is 10.59%
The 1-year price return for BEN is -21.10%
The 1-year price return for FCX is 1.77%
The 1-year price return for GRMN is 63.64%
The 1-year price return for IT is 28.07%
The 1-year price return for GE is 77.27%
The 1-year price return for GEHC is 2.92%
The 1-year price return for GEV is nan%
The 1-year price return for GEN is 27.66%
The 1-year price return for GNRC is 0.05%
The 1-year price return for GD is 27.78%
The 1-year price return for GIS is -13.51%
The 1-year price return for GM is 21.42%
The 1-year price return for GPC is -14.07%
The 1-year price return for GILD is -4.78%
The 1-year price return for GPN is -11.63%
The 1-year price return for GL is -22.56%
The 1-year price return for GDDY is 91.61%
The 1-year price return for GS is 36.12%
The 1-year price return for HAL is -13.66%
The 1-year price return for HIG is 34.73%
The 1-year price return for HAS is -7.24%
The 1-year price return for HCA is 21.89%
The 1-year price return for DOC is -6.53%
The 1-year price return for HSIC is -11.94%
The 1-year price return for HSY is -20.10%
The 1-year price return for HES is -0.41%
The 1-year price return for HPE is 14.90%
The 1-year price return for HLT is 42.82%
The 1-year price return for HOLX is -4.35%
The 1-year price return for HD is 6.29%
The 1-year price return for HON is 2.59%
The 1-year price return for HRL is -22.79%
The 1-year price return for HST is -1.38%
The 1-year price return for HWM is 57.67%
The 1-year price return for HPQ is 14.47%
The 1-year price return for HUBB is 15.15%
The 1-year price return for HUM is -13.81%
The 1-year price return for HBAN is 22.60%
The 1-year price return for HII is 13.15%
The 1-year price return for IBM is 30.45%
The 1-year price return for IEX is -6.26%
The 1-year price return for IDXX is -15.25%
The 1-year price return for ITW is -6.30%
The 1-year price return for INCY is 6.54%
The 1-year price return for IR is 48.40%
The 1-year price return for PODD is -30.79%
The 1-year price return for INTC is -7.74%
The 1-year price return for ICE is 26.37%
The 1-year price return for IFF is 12.65%
The 1-year price return for IP is 37.04%
The 1-year price return for IPG is -9.88%
The 1-year price return for INTU is 24.83%
The 1-year price return for ISRG is 37.84%
The 1-year price return for IVZ is 0.85%
The 1-year price return for INVH is 1.27%
The 1-year price return for IQV is 2.93%
The 1-year price return for IRM is 55.21%
The 1-year price return for JBHT is -19.24%
The 1-year price return for JBL is 0.18%
The 1-year price return for JKHY is -1.72%
The 1-year price return for J is 12.53%
The 1-year price return for JNJ is -9.52%
The 1-year price return for JCI is -1.76%
The 1-year price return for JPM is 32.22%
The 1-year price return for JNPR is 23.93%
The 1-year price return for K is -9.76%
The 1-year price return for KVUE is -26.41%
The 1-year price return for KDP is 0.71%
The 1-year price return for KEY is 27.13%
The 1-year price return for KEYS is -19.53%
The 1-year price return for KMB is 6.54%
The 1-year price return for KIM is 0.82%
The 1-year price return for KMI is 17.27%
The 1-year price return for KKR is 90.72%
The 1-year price return for KLAC is 65.07%
The 1-year price return for KHC is -9.10%
The 1-year price return for KR is 11.23%
The 1-year price return for LHX is 17.08%
The 1-year price return for LH is -4.27%
The 1-year price return for LRCX is 41.64%
The 1-year price return for LW is -44.56%
The 1-year price return for LVS is -31.16%
The 1-year price return for LDOS is 60.23%
The 1-year price return for LEN is 32.68%
The 1-year price return for LLY is 89.57%
The 1-year price return for LIN is 14.31%
The 1-year price return for LYV is -5.34%
The 1-year price return for LKQ is -22.58%
The 1-year price return for LMT is 13.78%
The 1-year price return for L is 26.43%
The 1-year price return for LOW is -1.03%
The 1-year price return for LULU is -28.21%
The 1-year price return for LYB is 0.31%
The 1-year price return for MTB is 22.24%
The 1-year price return for MRO is 6.70%
The 1-year price return for MPC is 28.54%
The 1-year price return for MKTX is -20.53%
The 1-year price return for MAR is 21.32%
The 1-year price return for MMC is 13.27%
The 1-year price return for MLM is 17.33%
The 1-year price return for MAS is 14.56%
The 1-year price return for MA is 7.47%
The 1-year price return for MTCH is -26.69%
The 1-year price return for MKC is -17.46%
The 1-year price return for MCD is -13.16%
The 1-year price return for MCK is 46.11%
The 1-year price return for MDT is -11.54%
The 1-year price return for MRK is 17.53%
The 1-year price return for META is 54.49%
The 1-year price return for MET is 18.57%
The 1-year price return for MTD is 3.71%
The 1-year price return for MGM is -15.41%
The 1-year price return for MCHP is -1.99%
The 1-year price return for MU is 63.67%
The 1-year price return for MSFT is 26.98%
The 1-year price return for MAA is -6.22%
The 1-year price return for MRNA is -2.04%
The 1-year price return for MHK is 9.53%
The 1-year price return for MOH is -7.21%
The 1-year price return for TAP is -24.29%
The 1-year price return for MDLZ is -9.87%
The 1-year price return for MPWR is 48.99%
The 1-year price return for MNST is -14.75%
The 1-year price return for MCO is 20.75%
The 1-year price return for MS is 9.01%
The 1-year price return for MOS is -29.41%
The 1-year price return for MSI is 32.23%
The 1-year price return for MSCI is -4.14%
The 1-year price return for NDAQ is 23.19%
The 1-year price return for NTAP is 60.33%
The 1-year price return for NFLX is 50.47%
The 1-year price return for NEM is 9.78%
The 1-year price return for NWSA is 42.24%
The 1-year price return for NWS is 44.89%
The 1-year price return for NEE is 1.40%
The 1-year price return for NKE is -34.96%
The 1-year price return for NI is 9.07%
The 1-year price return for NDSN is -4.49%
The 1-year price return for NSC is -6.58%
The 1-year price return for NTRS is 8.27%
The 1-year price return for NOC is -3.29%
The 1-year price return for NCLH is -7.46%
The 1-year price return for NRG is 92.70%
The 1-year price return for NUE is -8.36%
The 1-year price return for NVDA is 151.36%
The 1-year price return for NVR is 31.67%
The 1-year price return for NXPI is 16.44%
The 1-year price return for ORLY is 8.81%
The 1-year price return for OXY is -4.42%
The 1-year price return for ODFL is -7.49%
The 1-year price return for OMC is 9.46%
The 1-year price return for ON is -29.36%
The 1-year price return for OKE is 21.54%
The 1-year price return for ORCL is 20.15%
The 1-year price return for OTIS is 0.77%
The 1-year price return for PCAR is 16.89%
The 1-year price return for PKG is 28.38%
The 1-year price return for PANW is 32.34%
The 1-year price return for PARA is -24.79%
The 1-year price return for PH is 34.41%
The 1-year price return for PAYX is -3.53%
The 1-year price return for PAYC is -55.70%
The 1-year price return for PYPL is -20.92%
The 1-year price return for PNR is 25.22%
The 1-year price return for PEP is -12.23%
The 1-year price return for PFE is -19.43%
The 1-year price return for PCG is 1.96%
The 1-year price return for PM is 13.45%
The 1-year price return for PSX is 26.08%
The 1-year price return for PNW is -1.45%
The 1-year price return for PNC is 30.43%
The 1-year price return for POOL is -15.62%
The 1-year price return for PPG is -14.32%
The 1-year price return for PPL is 3.96%
The 1-year price return for PFG is -0.44%
The 1-year price return for PG is 9.13%
The 1-year price return for PGR is 70.67%
The 1-year price return for PLD is -4.80%
The 1-year price return for PRU is 27.42%
The 1-year price return for PEG is 16.99%
The 1-year price return for PTC is 19.51%
The 1-year price return for PSA is -0.01%
The 1-year price return for PHM is 45.39%
The 1-year price return for QRVO is 12.22%
The 1-year price return for PWR is 24.31%
The 1-year price return for QCOM is 46.00%
The 1-year price return for DGX is 5.63%
The 1-year price return for RL is 27.79%
The 1-year price return for RJF is 1.33%
The 1-year price return for RTX is 21.47%
The 1-year price return for O is -10.18%
The 1-year price return for REG is -1.71%
The 1-year price return for REGN is 45.13%
The 1-year price return for RF is 9.29%
The 1-year price return for RSG is 30.61%
The 1-year price return for RMD is -6.96%
The 1-year price return for RVTY is -14.03%
The 1-year price return for ROK is -21.23%
The 1-year price return for ROL is 11.50%
The 1-year price return for ROP is 7.72%
The 1-year price return for ROST is 25.21%
The 1-year price return for RCL is 63.07%
The 1-year price return for SPGI is 12.43%
The 1-year price return for CRM is 10.73%
The 1-year price return for SBAC is -9.25%
The 1-year price return for SLB is -16.72%
The 1-year price return for STX is 88.94%
The 1-year price return for SRE is 4.14%
The 1-year price return for NOW is 26.61%
The 1-year price return for SHW is 18.20%
The 1-year price return for SPG is 20.71%
The 1-year price return for SWKS is 0.83%
The 1-year price return for SJM is -23.29%
The 1-year price return for SW is nan%
The 1-year price return for SNA is 0.40%
The 1-year price return for SOLV is nan%
The 1-year price return for SO is 13.11%
The 1-year price return for LUV is -26.61%
The 1-year price return for SWK is -11.08%
The 1-year price return for SBUX is -26.59%
The 1-year price return for STT is 16.08%
The 1-year price return for STLD is 18.82%
The 1-year price return for STE is -0.06%
The 1-year price return for SYK is 17.34%
The 1-year price return for SMCI is 124.21%
The 1-year price return for SYF is 43.09%
The 1-year price return for SNPS is 23.15%
The 1-year price return for SYY is -5.63%
The 1-year price return for TMUS is 25.37%
The 1-year price return for TROW is -3.72%
The 1-year price return for TTWO is 1.76%
The 1-year price return for TPR is -6.19%
The 1-year price return for TRGP is 61.74%
The 1-year price return for TGT is 8.91%
The 1-year price return for TEL is 8.60%
The 1-year price return for TDY is 7.51%
The 1-year price return for TFX is -12.30%
The 1-year price return for TER is 25.21%
The 1-year price return for TSLA is -18.29%
The 1-year price return for TXN is 12.66%
The 1-year price return for TXT is 31.75%
The 1-year price return for TMO is 0.06%
The 1-year price return for TJX is 27.26%
The 1-year price return for TSCO is 22.38%
The 1-year price return for TT is 71.32%
The 1-year price return for TDG is 39.63%
The 1-year price return for TRV is 19.28%
The 1-year price return for TRMB is 3.26%
The 1-year price return for TFC is 30.73%
The 1-year price return for TYL is 26.29%
The 1-year price return for TSN is 7.89%
The 1-year price return for USB is 15.12%
The 1-year price return for UBER is 39.80%
The 1-year price return for UDR is -2.38%
The 1-year price return for ULTA is -18.72%
The 1-year price return for UNP is -0.26%
The 1-year price return for UAL is -15.67%
The 1-year price return for UPS is -30.29%
The 1-year price return for URI is 60.86%
The 1-year price return for UNH is 10.19%
The 1-year price return for UHS is 31.49%
The 1-year price return for VLO is 17.94%
The 1-year price return for VTR is 9.54%
The 1-year price return for VLTO is nan%
The 1-year price return for VRSN is -17.01%
The 1-year price return for VRSK is 16.68%
The 1-year price return for VZ is 15.52%
The 1-year price return for VRTX is 39.47%

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [38]:
final_df = pd.DataFrame(columns=my_columns)
rows=[]
for key, value in returns.items():
    row_df = pd.DataFrame([[key, None, value, None]], columns=my_columns)
    rows.append(row_df)
final_df = pd.concat(rows, ignore_index=True)

In [39]:
print(final_df)

    Ticker Price  One-Year Price Return Number of Shares to Buy
0      MMM  None               9.629793                    None
1      AOS  None               7.579596                    None
2      ABT  None              -5.978261                    None
3     ABBV  None              24.179009                    None
4      ACN  None               3.845055                    None
..     ...   ...                    ...                     ...
498    XYL  None              20.100153                    None
499    YUM  None              -8.266574                    None
500   ZBRA  None               5.216909                    None
501    ZBH  None             -22.049078                    None
502    ZTS  None              -6.427081                    None

[503 rows x 4 columns]

In [41]:
prices = []
for ticker in final_df['Ticker']:
    price = (yf.Ticker(ticker).info.get('previousClose'))
    prices.append(price)

In [43]:
final_df['Price'] = prices
final_df

    Ticker   Price  One-Year Price Return Number of Shares to Buy
0      MMM  103.25               9.629793                    None
1      AOS   80.76               7.579596                    None
2      ABT  107.26              -5.978261                    None
3     ABBV  176.21              24.179009                    None
4      ACN  328.68               3.845055                    None
..     ...     ...                    ...                     ...
498    XYL  136.71              20.100153                    None
499    YUM  125.95              -8.266574                    None
500   ZBRA  322.09               5.216909                    None
501    ZBH  110.55             -22.049078                    None
502    ZTS  179.66              -6.427081                    None

[503 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [52]:
final_df.sort_values('One-Year Price Return', ascending = False, inplace = True)
final_df = final_df[:50]
final_df.reset_index(inplace = True)
final_df

/var/folders/g4/d2_9vd6n0cx4k51m5kmh8f2m0000gn/T/ipykernel_14249/2911281085.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.sort_values('One-Year Price Return', ascending = False, inplace = True)

,level_0,index,Ticker,Price,One-Year Price Return,Number of Shares to Buy
0,0,477,VST,72.58,155.473433,None
1,1,350,NVDA,114.25,151.364078,None
2,2,430,SMCI,711.56,124.212261,None
3,3,44,ANET,325.87,98.157495,None
4,4,348,NRG,74.19,92.701305,None
5,5,222,GDDY,143.21,91.610932,None
6,6,279,KKR,115.73,90.721824,None
7,7,290,LLY,859.88,89.572083,None
8,8,412,STX,109.53,88.942550,None
9,9,191,FICO,1559.24,86.791254,None
10,10,492,WDC,72.01,85.210906,None
11,11,125,CEG,175.08,79.864401,None
12,12,210,GE,162.30,77.268044,None
13,13,54,AXON,313.11,73.911351,None
14,14,450,TT,332.84,71.319744,None
15,15,382,PGR,215.44,70.672579,None
16,16,74,AVGO,151.34,69.456605,None
17,17,134,CRWD,258.14,66.940443,None
18,18,280,KLAC,755.77,65.069348,None
19,19,319,MU,110.28,63.668749,None
20,20,208,GRMN,172.84,63.643242,None
21,21,407,RCL,164.51,63.074940,None
22,22,438,TRGP,131.62,61.735070,None
23,23,464,URI,715.82,60.858429,None
24,24,335,NTAP,125.70,60.331626,None
25,25,288,LDOS,150.10,60.226308,None
26,26,239,HWM,79.59,57.666397,None
27,27,262,IRM,96.90,55.213841,None
28,28,314,META,461.27,54.493076,None
29,29,18,ALL,172.34,52.567278,None
30,30,143,DECK,846.04,51.620068,None
31,31,336,NFLX,635.99,50.469626,None
32,32,327,MPWR,787.88,48.993953,None
33,33,40,AMAT,206.53,48.561353,None
34,34,250,IR,95.75,48.403604,None
35,35,72,BSX,77.76,48.396946,None
36,36,162,ETN,299.60,47.557139,None
37,37,132,COST,830.82,46.743917,None
38,38,311,MCK,589.99,46.113073,None
39,39,391,QCOM,181.07,46.000655,None
40,40,110,CTAS,754.05,45.986595,None
41,41,388,PHM,122.56,45.385520,None
42,42,398,REGN,1060.86,45.132422,None
43,43,339,NWS,28.21,44.889574,None
44,44,27,AXP,240.99,43.660212,None
45,45,196,FITB,40.98,43.638270,None
46,46,431,SYF,49.88,43.086633,None
47,47,233,HLT,214.60,42.819123,None
48,48,33,AMGN,335.61,42.685250,None
49,49,338,NWSA,27.31,42.239575,None

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [67]:
def portfolio_input():
    global portfolio_size 
    portfolio_size = input("Enter your portfolio Size") 
    
    try:
        float(portfolio_size)
    except ValueError:
        print('Not a number')
        print('enter a number')
        portfolio_size = input("Enter your portfolio Size") 
portfolio_input()
print(portfolio_size)

10000

In [68]:
position_size = float(portfolio_size)/50
num_shares = []
for price in final_df['Price']:
    num_shares.append(math.floor(position_size/price))

In [69]:
final_df['Number of Shares to Buy'] = num_shares
final_df

,level_0,index,Ticker,Price,One-Year Price Return,Number of Shares to Buy
0,0,477,VST,72.58,155.473433,2
1,1,350,NVDA,114.25,151.364078,1
2,2,430,SMCI,711.56,124.212261,0
3,3,44,ANET,325.87,98.157495,0
4,4,348,NRG,74.19,92.701305,2
5,5,222,GDDY,143.21,91.610932,1
6,6,279,KKR,115.73,90.721824,1
7,7,290,LLY,859.88,89.572083,0
8,8,412,STX,109.53,88.942550,1
9,9,191,FICO,1559.24,86.791254,0
10,10,492,WDC,72.01,85.210906,2
11,11,125,CEG,175.08,79.864401,1
12,12,210,GE,162.30,77.268044,1
13,13,54,AXON,313.11,73.911351,0
14,14,450,TT,332.84,71.319744,0
15,15,382,PGR,215.44,70.672579,0
16,16,74,AVGO,151.34,69.456605,1
17,17,134,CRWD,258.14,66.940443,0
18,18,280,KLAC,755.77,65.069348,0
19,19,319,MU,110.28,63.668749,1
20,20,208,GRMN,172.84,63.643242,1
21,21,407,RCL,164.51,63.074940,1
22,22,438,TRGP,131.62,61.735070,1
23,23,464,URI,715.82,60.858429,0
24,24,335,NTAP,125.70,60.331626,1
25,25,288,LDOS,150.10,60.226308,1
26,26,239,HWM,79.59,57.666397,2
27,27,262,IRM,96.90,55.213841,2
28,28,314,META,461.27,54.493076,0
29,29,18,ALL,172.34,52.567278,1
30,30,143,DECK,846.04,51.620068,0
31,31,336,NFLX,635.99,50.469626,0
32,32,327,MPWR,787.88,48.993953,0
33,33,40,AMAT,206.53,48.561353,0
34,34,250,IR,95.75,48.403604,2
35,35,72,BSX,77.76,48.396946,2
36,36,162,ETN,299.60,47.557139,0
37,37,132,COST,830.82,46.743917,0
38,38,311,MCK,589.99,46.113073,0
39,39,391,QCOM,181.07,46.000655,1
40,40,110,CTAS,754.05,45.986595,0
41,41,388,PHM,122.56,45.385520,1
42,42,398,REGN,1060.86,45.132422,0
43,43,339,NWS,28.21,44.889574,7
44,44,27,AXP,240.99,43.660212,0
45,45,196,FITB,40.98,43.638270,4
46,46,431,SYF,49.88,43.086633,4
47,47,233,HLT,214.60,42.819123,0
48,48,33,AMGN,335.61,42.685250,0
49,49,338,NWSA,27.31,42.239575,7

## Optimizing to match real world momentum strategies 
Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

`hqm` = `high-quality momentum`.

In [71]:
hqm_columns = [
    'Ticker',
    'Price',
    'Number of Shares to Buy',
    'One-Year Price Return',
    'One-Year Return Percentile',
    'Six-Month Price Return',
    'Six-Month Return Percentile',
    'Three-Month Price Return',
    'Three Month Return Percentile',
    'One-Month Price Return',
    'One-Month Return Percentile'
]
hqm_df = pd.DataFrame(columns = my_columns)

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [ ]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

## Saving Our Excel Output

As before, saving our Excel output is very easy: